@{
    ViewBag.Title = "我的蛋糕店";
}

<!--header-->
<div class="header">
    <div class="container">
        <!--navbar-->
        @Html.Action("navbar", "template")
        <!--//navbar-->

        <!--headerinfo-->
        @Html.Action("headerinfo", "template")
        <!--//headerinfo-->

        <div class="clearfix"> </div>
    </div>
</div>
<!--//header-->

<!--banner-->
@Html.Action("banner", "template")
<!--//banner-->

<!--gallery-->
@Html.Action("gallery", "template")
<!--//gallery-->

<!--subscribe-->
@Html.Action("subscribe", "template")
<!--//subscribe-->

<!--footer-->
@Html.Action("footer", "template")
<!--//footer-->